<header id="appHeader">
  <h1>{{ title }}</h1>
  <h3>{{ user }}</h3>
</header>

<nav id="appNav">
  <input class="navSearch" />
  <button class="navItem">Search</button>
  <button class="navItem" (click)="toggleAuthor()">
    {{ authorButtonName() }}
  </button>
  <button class="navItem" (click)="toggleTitle()">
    {{ titleButtonName() }}
  </button>
</nav>

<section>
  @if (authorDisplay && !errorDisplay) {
  <div class="listDisplay">
    @for (author of authorList; track author) {
    <p class="listItem">{{ author }}</p>
    }
  </div>
  } @else if (titleDisplay && !errorDisplay) {
  <div class="listDisplay">
    @for (title of titleList; track title) {
    <p class="listItem">{{ title }}</p>
    }
  </div>
  } @else if (errorDisplay) { Error }
</section>
