<header id="appHeader">
  <h1>{{ title }}</h1>
  <h3>{{ user }}</h3>
</header>

<nav id="appNav">
  <form (submit)="searchItem()">
    <input
      type="text"
      class="navSearch"
      [(ngModel)]="searchValue"
      name="searchInput"
      placeholder="Type in an Author or Title"
    />
    <button class="navItem">Search</button>
  </form>
  <!-- <input class="navSearch" [(ng-model)]="searchValue" /> -->
  <button class="navItem" (click)="toggleAuthor()">
    {{ authorButtonName() }}
  </button>
  <button class="navItem" (click)="toggleTitle()">
    {{ titleButtonName() }}
  </button>
</nav>

<section>
  @if (authorDisplay && !errorDisplay) {
  <div class="listDisplay">
    @for (author of authorList; track author) {
    <p class="listItem" (click)="searchByClick(author)">{{ author }}</p>
    }
  </div>
  } @else if (titleDisplay && !errorDisplay) {
  <div class="listDisplay">
    @for (title of titleList; track title) {
    <p class="listItem" (click)="searchByClick(title)">{{ title }}</p>
    }
  </div>
  } @else if (errorDisplay) { Error }
</section>
