<header id="appHeader">
  <h1>{{ title }}</h1>
  <h3>{{ user }}</h3>
</header>

<nav id="appNav">
  <button class="navItem" (click)="toggleAuthor()">
    {{ authorButtonName() }}
  </button>
  <button class="navItem" (click)="toggleTitle()">
    {{ titleButtonName() }}
  </button>
</nav>

<section>
  @if (authorDisplay) {
  <div class="listDisplay">
    @for (author of authorList; track author) {
    <p class="listItem">{{ author }}</p>
    }
  </div>
  } @else if (titleDisplay) {
  <div class="listDisplay">
    @for (title of titleList; track title) {
    <p class="listItem">{{ title }}</p>
    }
  </div>
  }
</section>
